header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 5em;

}


.adiv {
        display: flex;
        flex-direction: column;
        border: none;
        font-size: 25px;
        text-align: center;
        opacity: 0.5;
}






a:hover {
        border-color: #860303;
}

a:focus,
button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
}



.h1 {
        display: flex;
        flex-direction: row-reverse;
        font-weight: 500;
        color: #860303;
        justify-content: center;
        text-decoration: inherit;
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: 50px;
}



.p2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: 500;
        color: #860303;
        text-decoration: inherit;
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: 25px;

}





.p1 {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        color:#860303;
        text-decoration: inherit;
        justify-content: center;
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: 25px;
}




body {
        margin: 0;
        display: flex;
        place-items: center;
        min-width: 320px;
        min-height: 100vh;
}


