header {
  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em;
      
      
}


.h1{
    font-weight: 500;
    color: #840909;
    text-decoration: inherit;
  }